.act {
  padding: 16px 16px 32px 16px;
}

.title {
  margin-bottom: 16px;
}

.outputField {
  display: flex;
  align-items: baseline;
  justify-content: flex-end; /* Allinea gli elementi a destra */
  text-align: right;
  gap: 0.5rem;
}

.value {
  font-size: 2rem;
}

.unit {
  font-size: 1rem;
}