.setact {
  padding: 16px 16px 32px 16px;
}

.title {
  margin-bottom: 16px;
}

.outputField {
  display: flex;
  justify-content: space-between; /* Posiziona Set a sinistra e Act a destra */
  align-items: baseline; /* Allinea verticalmente i valori */
  text-align: left;
  gap: 1rem; /* Spazio tra i due blocchi */
}

.setField {
  display: flex;
  flex-direction: row; /* Posiziona valore e unità sulla stessa linea */
  align-items: baseline; /* Allinea verticalmente il valore e l'unità */
  gap: 0.25rem; /* Spazio tra valore e unità */
}

.actField {
  display: flex;
  flex-direction: row; /* Posiziona valore e unità sulla stessa linea */
  align-items: baseline; /* Allinea verticalmente il valore e l'unità */
  gap: 0.25rem; /* Spazio tra valore e unità */
}

.actValue {
  font-size: 2rem;
}

.setValue {
  font-size: 1.5rem;
  color: var(--rmd-theme-primary);
}

.actUnit {
  font-size: 1rem;
}

.setUnit {
  font-size: 0.8rem;
  color: var(--rmd-theme-primary);
}

.dialogInput {
  margin-top: 1rem; /* Aggiunge spazio sopra l'input */
}