.set {
  padding: 16px 16px 32px 16px;
}

.title {
  margin-bottom: 16px;
}

.outputField {
  display: flex;
  align-items: baseline;
  justify-content: flex-start; /* Allinea gli elementi a destra */
  text-align: left;
  gap: 0.5rem;
}

.value {
  font-size: 1.5rem;
  color: var(--rmd-theme-primary);
}

.unit {
  font-size: 0.8rem;
  color: var(--rmd-theme-primary);
}

.dialogInput {
  margin-top: 1rem; /* Aggiunge spazio sopra l'input */
}