
version: '3.8'

name: Palette

services:
  frontend:
    build: ./frontend
    volumes:
      - ../client:/app
    expose:
      - "3000"
    networks:
      - appnet

  backend:
    build: ./backend
    volumes:
      - ../server:/app
    expose:
      - "3001"
    networks:
      - appnet

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/www/certbot
    depends_on:
      - frontend
      - backend
    networks:
      - appnet

  certbot:
    image: certbot/certbot
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do sleep 12h & wait $${!}; certbot renew --webroot -w /var/www/certbot --quiet; done'"
    networks:
      - appnet
      
  mosquitto:
    image: eclipse-mosquitto
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
    networks:
      - appnet

  postgres:
    image: postgres:15
    restart: always
    environment:
      - POSTGRES_DB=green
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgrespw
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - appnet

networks:
  appnet:
    driver: bridge

volumes:
  postgres_data:
    driver: local
  certbot-etc:
  certbot-var:

