.icon-black {
  color: black !important;
  margin-right: 20px;
}

.user-info {
  color: black !important;
  font-size: 14px;
  margin-right: 20px;
  font-weight: 500;
}

.logout-icon {
  color: black !important;
  cursor: pointer;
  margin-left: 12px;
  
  &:hover {
    opacity: 0.7;
  }
}